@using Stimulsoft.Report.Mvc

@{
    ViewData["Title"] = "ShowPrint";
}

<h1>ShowPrint</h1>
@Html.StiNetCoreViewer(new StiNetCoreViewerOptions(){
    Actions={
        GetReport="VendorReport",
        ViewerEvent="ViewEvent"         
    }
})



